<div class="home">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Coupon Management System</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <h1>Welcome to Coupon Management System</h1>
        <p>Efficiently manage and organize your coupons with our powerful system.</p>
        <p><button class="btn btn-primary btn-lg" routerLink="/registration">Get Started</button></p>
    </div>
    <div style="height: 400px; width: 100%; overflow: hidden;">
        <img v src="../../../assets/coupons.gif" alt="Description of the image" style="max-width: 70%; max-height: 70%;">
        <img v src="../../../assets/shop.jpg" alt="Description of the image" style="max-width: 90%; max-height: 90%;">
        <img v src="../../../assets/coupons.gif" alt="Description of the image" style="max-width: 70%; max-height: 70%;">
      </div>
</div>